name: 构建

on:
  push:
    branches: [ master ]
  workflow_dispatch:
  workflow_call:

concurrency:
  group: build-${{ github.ref }}
  cancel-in-progress: true

# 该任务需要在目标仓库添加部署密钥（https://docs.github.com/en/authentication/connecting-to-github-with-ssh/managing-deploy-keys）
# 在本地生成部署密钥:
# $ ssh-keygen -t rsa -f zituoguan-deploy-key -C zituoguan-deploy-key
# $ ssh-keygen -t rsa -f zituoguan-html-deploy-key -C zituoguan-html-deploy-key
# 将zituoguan-deploy-key.pub的内容粘贴到 https://github.com/zituoguan/zituoguan/settings/keys/new，命名为: zituoguan-deploy-key，允许写入权限
# 将zituoguan-html-deploy-key.pub的内容粘贴到 https://github.com/zituoguan/zituoguan-html/settings/keys/new，命名为: zituoguan-html-deploy-key，允许写入权限
# 访问 https://github.com/zituoguan/zituoguan-data/settings/environments，创建一个名为: production 的新环境
#   - deployment branches: selected branches and tags
#   - add deployment branch or tag rule: branch name pattern: master
#   - environment secrets: 添加一个名为: SSH_MARKDOWN_DEPLOY_KEY 的私钥，并将值设置为: 粘贴zituoguan-deploy-key的内容
#   - environment secrets: 添加一个名为: SSH_HTML_DEPLOY_KEY 的私钥，并将值设置为: 粘贴zituoguan-html-deploy-key的内容



jobs:
  build-markdown:
    environment:
      name: production
      url: https://github.com/zituoguan/zituoguan
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          ref: ${{ github.ref }}
      - run: make install
      - run: make awesome_lint
      - run: make export_markdown
      - name: 设置Markdown仓库SSH部署密钥
        run: |
          mkdir -p ~/.ssh
          echo "${{ secrets.SSH_MARKDOWN_DEPLOY_KEY }}" > ~/.ssh/id_rsa
          chmod 0600 ~/.ssh/id_rsa
      - run: make push_markdown

  build-html:
    environment:
      name: production
      url: https://github.com/zituoguan/zituoguan-html
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          ref: ${{ github.ref }}
      - run: make install
      - run: make awesome_lint
      - run: make export_html
      - name: 设置HTML仓库SSH部署密钥
        run: |
          mkdir -p ~/.ssh
          echo "${{ secrets.SSH_HTML_DEPLOY_KEY }}" > ~/.ssh/id_rsa
          chmod 0600 ~/.ssh/id_rsa
      - run: make push_html
